.container {
  position: fixed;
  width: 10rem;
  height: 3rem;
  background: #0f65ba;
  color: #fff;
  border-top-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  :hover {
    background: #e1df3c;
    color: #000;
  }
}
