.container {
  position: fixed;
  width: 100%;
  background-color: #010001;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;

  .tabs {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 100%;
    a {
      width: 120px;
    }
    a:hover {
      transition: 0, 5s;
      font-weight: bold;
      text-decoration: underline;
      > .tabs {
        background-image: url("../../assets/hex-blue.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .icons {
    display: flex;
    gap: 1rem;
  }
}
