.containerHead {
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #010001;

  background-size: 5rem;
  .item1 {
    width: 100%;
    height: 15rem;
    border-bottom: 1px solid #6f6d6a;
    color: #fff;
    .div1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 15rem;
      padding-top: 8rem;
    }
  }
  .item2 {
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid #6f6d6a;
    color: #fff;
    .div2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-right: 15rem;
    }
  }
  .item3 {
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid #6f6d6a;
    color: #fff;
    .div3 {
      display: flex;
      justify-content: space-around;
      background-image: url("../../assets/dots.svg");
      background-repeat: no-repeat;
      background-position: 70%;
      background-position-y: 5px;
      background-size: 5px;
      transform: rotate(0deg);
    }
    .boxText {
      padding-bottom: 5%;
      span {
        font-weight: bold;
        color: grey;
        margin-top: -10%;
      }
    }
    .boxColor {
      background-color: #e9e7e0;
      border-bottom: 1px solid #6f6d6a;
      color: #000;
      transform: rotate(0deg);
      width: 25em;
      height: 10em;
    }
  }
  .item4 {
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid #6f6d6a;
    color: #fff;
    .div4 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10rem;
      margin-right: 2rem;
    }
  }
  .item5 {
    width: 100%;
    height: 15rem;
    border-bottom: 1px solid #6f6d6a;
    color: #fff;
    .div5 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 5rem;
      margin-left: 10%;
      .chat {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.containerMidHight {
  background-color: #e8e7e1;
  display: flex;
  justify-content: space-evenly;
  padding: 5em;
  height: 100%;
  background-image: url("../../assets/magenta-cloud.svg");
  background-repeat: no-repeat;
  background-position: 35%;
  background-position-y: 450px;
  background-size: 35rem;
  .magenta {
    margin-top: 10rem;
  }
  span {
    font-weight: bold;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-image: url("../../assets/yellow-trap.svg");
    background-repeat: no-repeat;
    background-position: 60%;
    background-position-y: 5px;
    .backgroundYellow {
      width: 60%;
    }
  }
  .backgroundCursos {
    background-image: url("../../assets/yellow-hex-full.svg");
    background-repeat: no-repeat;
    background-position: 83%;
    background-position-y: -50px;
  }
  .box2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .iconsArrow {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.coursesBar {
  height: 5rem;
  background-color: #000;
  display: flex;
  gap: 3rem;
  align-items: center;
  color: #e0de3c;
}

.containerMidLow {
  background-color: #e8e7e1;
  text-align: center;
  padding-top: 2rem;
  background-image: url("../../assets/magenta-cloud.svg");
  background-repeat: no-repeat;
  background-position: 1%;
  background-position-y: 100px;
  background-size: 20rem;
  .boxImages {
    background-image: url("../../assets/cloud.svg");
    background-repeat: no-repeat;
    background-position: 125%;
    background-position-y: 150%;
    background-size: 40rem;
    margin-top: 2rem;
    margin-left: 20%;
    display: grid;
    text-align: start;

    align-items: center;
    grid-template-columns: repeat(4, 15%);
    gap: 60px;
    p {
      font-weight: bold;
    }
    span {
      color: grey;
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }
    .boxImage {
      width: 16em;
    }
  }
}

.containerDown {
  display: flex;
  justify-content: center;
  gap: 15rem;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
  background: linear-gradient(
    to right,
    #e9e7e0 0%,
    #e9e7e0 35%,
    white 35%,
    white 100%
  );
  .form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: start;
  }
  .fontGrey {
    text-align: center;
  }
  input {
    width: 20rem;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    background: transparent;
  }
  input[name="telefono"] {
    border-bottom: 1px solid #fe1f56;
  }
  span {
    font-weight: bold;
    color: rgba(12, 12, 12, 0.623);
  }
  button {
    font-weight: bold;
    width: 12em;
    height: 3em;
    background-color: transparent;
    transition: 0.2s ease all;
    position: relative;
    overflow: hidden;
    .span {
      position: relative;
      z-index: 2;
      transition: 0.2s ease all;
    }
    ::after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(32, 32, 32, 0.822);
      position: absolute;
      z-index: 1;
      top: 80px;
      left: 0;
      transition: 0.2s ease-in-out all;
    }
    :hover::after {
      top: 0;
    }
  }
  .caja {
    border: 1px solid #d9d9d9;
    overflow: hidden;
    width: 20rem;
    ::after {
      content: "\025be";
      padding-top: 7px;
      width: 30px;
      height: 30px;
      background-color: #d9d9d9;
      pointer-events: none;
    }
  }
  select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 20rem;
    :focus {
      outline: none;
    }
  }
}
